<div class="blockquote-footer">
  <div class="row text-center">
    <div class="col-4">
      <h5 class="text-uppercase">Contactez-nous</h5>
      <ul class="list-unstyled mb-0 text-start ps-5">
        <li>
          <b>Email</b> : <a href="prendrerendezvous@gmail.com" class="text-dark">prendrerendezvous&#64;gmail.com</a>
        </li>
        <li>
          <b>Téléphone</b> : <span class="text-dark">+221 77 694 71 50</span>
        </li>
        <li>
          <b>Adresse</b> : <span class="text-dark">ENO de pikine, Dakar Sénégal</span>
        </li>
      </ul>
    </div>
    <div class="col-4">
      <h5 class="text-uppercase">Contactez-nous</h5>
      <ul class="list-unstyled mb-0">
        <li>
          <a routerLink="/" class="text-dark">Accueil</a>
        </li>
        <li>
          <a routerLink="/doctors" class="text-dark">Médecin</a>
        </li>
        <li>
          <a routerLink="/service" class="text-dark">Service</a>
        </li>
        <li>
          <a routerLink="/contact" class="text-dark">Contact</a>
        </li>
      </ul>
    </div>
    <div class="col-4">
      <h5 class="text-uppercase">Suivez-nous</h5>
      <ul class="list-inline text-center social-icons">
        <li class="list-inline-item">
          <a href="https://twitter.com" target="_blank">
            <i class="fab fa-twitter fa-2x"></i>
          </a>
        </li>
        <li class="list-inline-item">
          <a href="https://linkedin.com" target="_blank">
            <i class="fab fa-linkedin fa-2x"></i>
          </a>
        </li>
        <li class="list-inline-item">
          <a href="https://facebook.com" target="_blank">
            <i class="fab fa-facebook fa-2x"></i>
          </a>
        </li>
        <li class="list-inline-item">
          <a href="https://instagram.com" target="_blank">
            <i class="fab fa-instagram fa-2x"></i>
          </a>
        </li>
        <li class="list-inline-item">
          <a href="https://wa.me/776947150" target="_blank">
            <i class="fab fa-whatsapp fa-2x"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="row my-3 ms-5 me-5 ps-5 pe-5">
    <hr>
    <span class="text-center">&copy; 2024 Etudiant ENO Pikine. Tous droits réservés.</span>
  </div>
</div>
